@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
/*font-family: "Viga", sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Madimi One', sans-serif;
}

:root {
    --bg-color: #191f36;
    --snd-color: #262B40;
    --text-color: #fff;
    --main-color: #59B2F4;
    --font-color: #FEFBF6;
}



body {
     background: var(--bg-color);
     color: var(--text-color);
    }

section {
     min-height: 10vh;
     padding: 10px 23%;
    }

h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 1rem;
    }
span {
      color: var(--main-color);
     }
     
a {
    border: none;
    width: 120px;
    color: #fff;
    background-image: linear-gradient(30deg, #59B2F4, #59B2F4);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 70px;
    
   }
   
   a:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

   /* Style for the carousel container */
   .carousel {
     width: 100%;
     overflow: hidden;
     position: relative;
     margin: auto;
     border-radius: 1rem;
     
   }
   
   /* Style for the individual carousel slides */
   .carousel-slide {
     display: none;
     width: 100%;
   }
   
   /* Style for the navigation buttons */
   .prev, .next {
     cursor: pointer;
     width: 80px;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     padding: 16px;
     background-color: rgba(0, 0, 0, 0.3);
     color: white;
     font-size: 20px;
     z-index: 2;
   }
   
   .prev {
    display: relative;
    right: 53rem; 
   }
   
   .next {
    display: relative;
     left: 49.3rem;
   }
   
   /* Style for the dots container */
   .dots {
     text-align: center;
     margin-top: 20px;
   }
   
   /* Style for the individual dots */
   .dot {
     cursor: pointer;
     height: 15px;
     width: 15px;
     margin: 0 8px;
     background-color: #bbb;
     border-radius: 50%;
     display: inline-block;
     transition: background-color 0.3s ease;
   }
   
   .dot.active {
     background-color: var(--main-color);
   }
 
